/* CONFIGURACION DE NAVBAR */
.container-navbar{ 
    box-shadow: 0px 4px 5px gray; /*Para que tenga una sombra*/
    background-color: #FFD9C0;
} 
.navbar{ 
    display: flex; 
    justify-content: space-between; /*Lo  separamos en dos partes*/
    align-items: center; /*Para que se alinee al centro*/
    padding: .5rem 1rem; /*Para que tenga un poco de espacio*/
}

/* CONFIGURACION DE NAV-CONTROLS */
.nav-controls{
    display: block; 
    justify-content: space-between; /*Lo  separamos en dos partes*/
}

.open-menu{
    display: block;
    font-size: 2rem; /*Tamaño de la letra*/
    cursor: pointer; /*Para que el cursor se convierta en una manito*/
    background-color: transparent; /*Color de fondo*/
    border: none; /*Para que no tenga borde*/
}

.close-menu{
    display: none;
}

.list{
    position: absolute; /*Para que se posicione de manera absoluta*/
    top: -700px; /*Para que se posicione arriba*/
    left: -2000px; /*Para que se posicione a la izquierda*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all .5s ease;
}

.list.active{
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    
}



.list a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: 600;
    color: #e6e6e6;
    text-transform: uppercase;
    cursor: pointer;
}

.list a:hover{
    color: #f86c0e; 
}



@media (min-width: 801px) {
    .navbar{
        padding: 1rem .5;
        justify-content: center;
    }
    .open-menu{
        display: none;
    }
    .menu{
        display:flex;
        gap: 2rem;
    }
    .list{
        position: initial;
        display: flex;
        gap: 1rem;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        margin-right: 4rem;
    }

    .list a{
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        cursor: pointer;
    }

    .list a:hover{
        color: #f86c0e; 
    }

}