footer {
    background-color: #e2e1e1e3;
    padding: 20px;
    /* color: #666666; */
    margin-top: auto;
}

.footer-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-section {
    width: 30%;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #666;
    text-decoration: none;
    font-size: 13px;
}

.bottom-bar {
    background-color: #dddddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #999;
}


.footer-section p{
    font-size: 13px;
}

@media (min-width: 501px){
    .footer-container {
        flex-direction: row;
    }

}

@media (min-width: 801px){
  
    .container-options span{
        font-weight: 700;
        font-size: 1rem;
    }


    
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
    }
    
    .footer-section {
        width: 30%;
        margin-bottom: 20px;
    }
    
    .footer-section h3 {
        font-size: ;
        margin-bottom: 10px;
    }
    
    .footer-section ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-section ul li {
        margin-bottom: 5px;
    }
    
    .footer-section ul li a {
        color: #666;
        text-decoration: none;
        font-size: 1.8rem;
    }
    
    .bottom-bar {
        background-color: #dddddd;
        padding: 10px;
        text-align: center;
        font-size: 1.4rem;
        color: #999;
    }
    
    .footer-section p{
        font-size: 1.8rem;
    }

}